.container-headers {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: center;
}

.linkElement-headers{
    text-decoration: "none";
    color:"white";
}
.containerIcons-headers{
    display: flex;
    flex-direction: row;
    vertical-align: center;
}

.elementIcons-headers{
    padding-right: 15px;
}
.elementIcons-img {
    padding-left: 10px;
}